*{background-color: antiquewhite;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.des{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
#title1{
    text-align:center;
}
ol{
    padding: 50px;
}
.jkl {height: 200px;margin: 16px auto;text-align: center;display: block;}